$activeColor: #fff;
$notActiveColor: #c0beff;

.menuItem {
  display: flex;
  align-items: center;
  position: relative;
  height: 34px;
  list-style-type: none;
  padding-left: 53px;

  &:not(:first-child) {
    margin-top: 32px;
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $notActiveColor;
    // color: linear-gradient(90deg, #ec441e 0%, #ee2a4a 100%);
    transition: 0.5s;

    &:hover:not(.menuItem__link_active) {
      color: #fff;
    }

    // &::before {
    //   position: absolute;
    //   content: '';
    //   height: 0;
    //   top: 0;
    //   left: 0;
    //   width: 3px;
    //   background-color: #ee3637;
    //   animation-name: linkDeActivate;
    //   animation-duration: 1s;
    //   animation-fill-mode: forwards;
    // }

    & > span {
      font-style: normal;
      font-weight: normal;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.02em;
      // color: $notActiveColor;
    }

    &_active {
      color: $activeColor;

      & > figure {
        & > svg {
          path {
            fill: $activeColor;
          }
          rect {
            stroke: $activeColor;
          }
        }
      }

      & > span {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.02em;
        // color: $activeColor;
      }

      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 3px;
        background-color: #ee3637;
        animation-name: linkActivate;
        animation-duration: 1s;
        animation-fill-mode: forwards;
      }
    }
  }

  &__svgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 18px;

    & > svg {
      path {
        fill: $notActiveColor;
      }
      rect {
        stroke: $notActiveColor;
      }
    }

    &_sidebarNotActive {
      margin-right: 0;
    }
  }
}

@keyframes linkActivate {
  from {
    height: 0;
  }

  to {
    height: 100%;
  }
}

@keyframes linkDeActivate {
  from {
    height: 100%;
  }

  to {
    height: 0;
  }
}
