.sideBar {
  position: relative;

  &__serviceNameWrapper {
    margin-top: 55px;
  }

  & > nav {
    margin: 0;

    & > ul {
      margin: 0;
      padding: 0;
      margin-top: 66px;

      li {
        display: flex;
        // justify-content: center;
        align-items: center;
        height: 34px;
        list-style-type: none;
        cursor: pointer;
        padding-left: 53px;

        &:not(:first-child) {
          margin-top: 32px;
        }
      }
    }
  }

  &__arrow {
    position: absolute;
    top: -30px;
    right: 20px;
    height: 28px;
    width: 28px;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      content: ' ';
      height: 17px;
      width: 2px;
      background-color: #c0beff;
      border-radius: 20px;
    }

    &::after {
      bottom: 0;
      right: 50%;
      transform: translateX(50%) rotate(-45deg);
    }

    &::before {
      top: 0;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
    }

    &_notActiveSidebar {
      &::after {
        bottom: 0;
        left: 50%;
        transform: translateX(50%) rotate(45deg);
      }

      &::before {
        top: 0;
        right: 50%;
        transform: translateX(50%) rotate(-45deg);
      }
    }
  }
}
