.sideBar {
  height: 100%;

  &__serviceNameWrapper {
    margin-top: 55px;
  }

  & > nav {
    margin: 0;

    & > ul {
      margin: 0;
      padding: 0;

      li {
        height: 20px;
        list-style-type: none;
        cursor: pointer;
      }
    }
  }
}
